<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link
	href="https://fonts.googleapis.com/css?family=Handlee&display=swap"
	rel="stylesheet">
<body>
	<div class="jumbotron text-center">
		<h1>Reset de Senha</h1>
	</div>

	<div th:if="${success != null}">
		<div class="alert alert-success">
			<strong>Sucesso! </strong>[[${success}]]
		</div>
	</div>
	<div th:if="${warning != null}">
		<div class="alert alert-warning">
			<strong>Aviso! </strong>[[${warning}]]
		</div>
	</div>
	<div th:if="${error != null}">
		<div class="alert alert-danger">
			<strong>Erro! </strong>[[${error}]]
		</div>
	</div>
	<form th:action="@{/password/reset}" method="post"
		style="max-width: 350px; margin: 0 auto;">
		<input type="hidden" name="token" th:value="${token}" />
		<div class="border border-secondary rounded p-3">
			<div>
				<p>
					<input type="password" name="password" id="password"
						class="form-control" placeholder="Entre com a nova senha" required
						autofocus />
				</p>
				<p>
					<input type="password" name="confirm" id="confirm"
						class="form-control" placeholder="Confirme a nova senha" required
						oninput="checkPasswordMatch(this);" />
				</p>
				<p class="text-center">
					<input type="submit" value="Alterar senha" class="btn btn-primary" />
				</p>
			</div>
		</div>
	</form>
	<script>
		function checkPasswordMatch(fieldConfirmPassword) {
			if (fieldConfirmPassword.value != $("#password").val()) {
				fieldConfirmPassword.setCustomValidity("Senha nao confere!");
			} else {
				fieldConfirmPassword.setCustomValidity("");
			}
		}
	</script>
</body>
</html>