<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link
	href="https://fonts.googleapis.com/css?family=Handlee&display=swap"
	rel="stylesheet">

<body>
	<div class="jumbotron text-center">
		<h1>Reset de Senha</h1>
	</div>

	<div th:if="${success != null}">
		<div class="alert alert-success">
			<strong>Sucesso! </strong>[[${success}]]
		</div>
	</div>
	<div th:if="${warning != null}">
		<div class="alert alert-warning">
			<strong>Aviso! </strong>[[${warning}]]
		</div>
	</div>
	<div th:if="${error != null}">
		<div class="alert alert-danger">
			<strong>Erro! </strong>[[${error}]]
		</div>
	</div>
</body>
</html>